:root {
  color-scheme: light dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #e0e0e0;
  color: #121212;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.docs h1 {
  margin-bottom: 1rem;
  position: relative;
}

.docs h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  scroll-margin-top: 1.5rem;
  font-weight: 500;
  position: relative;
}

.docs p {
  opacity: 0.8;
}

.docs code {
  color: #121212;
  background-color: #dcdcdc;
  border-radius: 0.25rem;
  padding: 0.15rem 0.25rem;
}

.docs code[class*='language-'] {
  display: block;
  padding: 0.5rem 0.8rem;
}

.docs h2.active > code {
  background-color: hsl(29, 74%, 77%);
}

.docs a {
  color: hsl(29, 74%, 37%);
  font-weight: 500;
}

/* Header autolink */
.docs a.anchor {
  display: inline-block;
  opacity: 0.5;
  padding-left: 0.25rem;
  transform: translateY(4px);
  transition: opacity 0.2s;
  color: #0062ff;
}
.docs a.anchor:hover,
.docs a.anchor:focus {
  opacity: 1;
}
.docs a.anchor svg {
  visibility: visible;
}
.docs a.anchor:hover,
.docs a.anchor:focus {
  opacity: 1;
}
.docs a.anchor svg {
  visibility: visible;
}

.docs ul {
  margin: 0;
  padding-left: 1.2rem;
}

.docs li {
  line-height: 1.5;
  opacity: 0.8;
}

p {
  line-height: 1.5;
  font-size: 1rem;
}

code {
  font-size: 1rem;
}

h2 code {
  font-size: inherit;
}

a {
  color: inherit;
}

button {
  color: #2c2c2c;
  background-color: #efefef;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    color: #efefef;
    background-color: #2c2c2c;
  }

  .docs code {
    color: #efefef;
    background-color: #434343;
  }

  .docs h2.active > code {
    background-color: hsl(29, 74%, 28%);
  }

  .docs a {
    color: #e69b57;
  }

  /* Header autolink */
  .docs a.anchor {
    color: #6fa6ff;
  }

  button {
    background-color: #2c2c2c;
    color: #efefef;
  }
}

@media (min-width: 456px) {
  .docs a.anchor {
    position: absolute;
    top: calc(50% + 5px);
    right: 100%;
    padding-left: 0;
    padding-right: 4px;
    transform: translateY(-50%);
  }
}
