---
import '../global.css'
import BaseLayout from '../layouts/BaseLayout.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Package from '../components/Package.svelte'
---

<BaseLayout>
  <main class="flex flex-col items-center min-h-screen p-4">
    <Header />
    <Package client:only />
  </main>
  <Footer />
</BaseLayout>
