---
const {
  title = 'publint',
  description = 'Lint npm packages to ensure the widest compatibility across environments',
} = Astro.props
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.png" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content="publint" />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://publint.dev/og-image.png" />
    <meta name="twitter:card" content="summary" />
  </head>
  <body tabindex="-1">
    <slot />
  </body>
</html>
